.mat-toolbar {
  color: #fff;
  font-weight: 600;
  font-family: "Space Mono";
  background: #bf1469;
}

footer {
  height: 20px;
  font-size: 12px;
  margin-top: 14px;

  p {
    color: #777777;
    text-align: center;
    font-weight: 400;
    font-family: "Space Mono";
  }
}
