.main-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  min-height: calc(100vh - 100px);
  border: 1px solid red;
  justify-content: space-between;

  .input-container {
    width: 48%;
    padding: 10px;
    border: 1px solid red;

    .form-wrapper {
      margin: 15px 15px 15px;

      mat-form-field {
        width: 100%;
      }
    }

    .uploader {
      border: 2px dashed #ccc;
      border-radius: 20px;
      width: 100%;
      padding: 20px 0 20px;
      text-align: center;

      input {
        display: none;
      }

      mat-icon {
        color: #f3dde1;
        transform: scale(2);
      }
    }
  }

  .preview-container {
    width: 48%;
    padding: 10px;
    border: 1px solid red;

    .preview {
      border: 2px dashed #ccc;
      border-radius: 20px;
      width: 100%;
      height: calc(100vh - 186px);
      text-align: center;
    }

    .actions {
      margin: 10px;
      text-align: center;
    }
  }
}